* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    background-color: #e8e6e6;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 26% 56% 18%;
}

#left {
    background-color: red;
}

#first {
    
    grid-column: 1;
    grid-row: 1;
    padding: 30px;
}
#square {
    width: 20px;
    height: 20px;
    background-color: black;
    rotate: 45deg;
}

#second {
    grid-row: 1;
    grid-column: 2;
    padding: 30px;
    text-align: right;
    font-size: 20px;
    font-weight: 500
}
#second h4 {
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
}
#second h5 {
    font-size: 18px;
    font-weight: 500;
}


#third {
    grid-row: 2;
    grid-column: 1 / 3;
    padding: 30px;
    padding-top: 10%;
    line-height: 5vw;
}
#third h1 {
    font-size: 6vw;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
}
#third h1:nth-child(2n) {
    text-align: center;
}

#fourth {
    grid-column: 1 / 3;
    grid-row: 3;
    font-size: 15px;
    padding: 30px;
}
#fourth p {
    width: 40%;
}


#right {
    grid-column: 3;
    grid-row: 1 / 4;
    padding: 40px;
    padding-right: 150px; 
}
#right video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}

#arrow {
    position: absolute;
    top: 46%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    padding: 20px;
    border-radius: 50%;
    color: white;
    translate: translate(-50%, -50%);
}
#arrow i{
    font-size: 40px;
    font-weight: 100;
}